// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html{
    overflow-y: auto !important;
}

body{
    background: rgb(74, 175, 244);
    background: radial-gradient(circle, rgb(0, 0, 0) 32%, rgb(0, 0, 0) 100%);
}

.teste{
 color: red !important;
}
